# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Build outputs
dist/
build/

# Optional npm cache
.npm/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MongoDB dump files
dump/
*.archive

# Debugging and profiler data
*.tgz
*.swp
*.swm
*.swo

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
